#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#listdata {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#listdata td, #listdata th {
  border: 1px solid #ddd;
  padding: 8px;
}

#listdata tr:nth-child(even){background-color: #f2f2f2;}

/* #listdata tr:hover {background-color: #ddd;} */

#listdata th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}
/* #css-yk16xz-control{
  width: 8%;
    margin: auto;
    margin-top: 84px;
} */